<!-- start of breadcumb-section -->
<div class="bg-[url(/images/page-title.jpg)] bg-no-repeat bg-center bg-cover min-h-[400px] relative flex flex-col z-10 pt-20
    sm:min-h-[600px] before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-pink-600
    before:-z-10 before:opacity-70">
  <div class="wraper max-w-[1200px] mx-auto px-4">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <div class="text-center">
          <h2 class="text-6xl text-white mt-[-10px] mb-[20px] sm:text-3xl sm:mb-[10px]">Newspapers Library
          </h2>
          <ul class="">
            <li class="inline-block px-[5px] text-white relative text-xl font-heading-font sm:text-lg after:content-['/'] after:left-[7px]">
              <%= link_to "Home", root_path %>
            </li>
            <li class="text-[#cbd4fd] inline-block px-[5px]  relative text-xl font-heading-font sm:text-lg ">
              <span>Newspapers</span>
            </li>
          </ul>
          <%= button_to "Subscribe Monthly", cart_items_path(sku: "MEMBERSHIP_MONTHLY_SUBSCRIPTION"), method: :post,
              class: "inline-block bg-white hover:bg-yellow-600 text-pink-900 mt-16 px-8 py-2 rounded-lg font-semibold shadow-lg cursor-pointer" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of wpo-breadcumb-section-->

