= turbo_frame_tag "active_subscriptions_widget"
  = render "admin/widgets/stat_card", title: @title, icon: @icon, current_value: @current_value, previous_value: @previous_value, percentage_change: @percentage_change, format: @format
