= link_to root_path, class: "absolute top-4 right-4 flex items-center justify-center bg-gray-800 text-white w-12 h-12 rounded-full shadow-md hover:bg-gray-700 transition z-50" do
  span.back-to-library.iconify.lucide--x.text-white.size-5
